{
    "extends": [
        "react-app",
        "react-app/jest",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "plugin:prettier/recommended",
        "plugin:jsdoc/recommended"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ],
        "@typescript-eslint/no-explicit-any": "off",
        "no-console": "warn",
        "prefer-const": "warn",
        "jsdoc/require-param-type": 0,
        "jsdoc/require-returns-type": 0,
        "jsdoc/require-jsdoc": [
            1,
            {
                "publicOnly": true,
                "require": {
                    "ArrowFunctionExpression": true,
                    "FunctionDeclaration": true,
                    "FunctionExpression": true,
                    "ClassDeclaration": true,
                    "ClassExpression": true,
                    "MethodDefinition": true
                }
            }
        ]
    },
    "settings": {
        "jsdoc": {
            "ignoreInternal": true,
            "ignorePrivate": true
        }
    },
    "plugins": ["@typescript-eslint", "jsdoc"]
}
